<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="main">
		<f:section name="HeaderAssets">
			
			<f:if condition="{settings.schema.type} > 0">
				<script type="application/ld+json">
					<f:format.raw>{</f:format.raw>
						"@context": "https://schema.org",
						<f:variable name="section" value="1" />
						<f:if condition="{settings.schema.localbusiness.specifictype} == ''">
							<f:then>
								"@type": "{settings.schema.localbusiness.type}"
							</f:then>
							<f:else>
								"@type": "{settings.schema.localbusiness.specifictype}"
							</f:else>
						</f:if>
						<f:if condition="{settings.schema.localbusiness.name} != ''"><f:if condition="{section} > 0">,</f:if>"name": "{settings.schema.localbusiness.name}"<f:variable name="section" value="1" /></f:if>
						<f:if condition="{settings.schema.localbusiness.description} != ''"><f:if condition="{section} > 0">,</f:if>"description": "{settings.schema.localbusiness.description}"<f:variable name="section" value="1" /></f:if>
						<f:if condition="{settings.schema.localbusiness.imageurl} != ''"><f:if condition="{section} > 0">,</f:if>"image": "{settings.schema.localbusiness.imageurl}"<f:variable name="section" value="1" /></f:if>
						<f:if condition="{section} > 0">,</f:if>"@id": ""
						<f:if condition="{settings.schema.localbusiness.url} != ''"><f:if condition="{section} > 0">,</f:if>"url": "{settings.schema.localbusiness.url}"<f:variable name="section" value="1" /></f:if>
						<f:if condition="{settings.schema.localbusiness.phone} != ''"><f:if condition="{section} > 0">,</f:if>"telephone": "{settings.schema.localbusiness.phone}"<f:variable name="section" value="1" /></f:if>
						<f:if condition="{settings.schema.localbusiness.email} != ''"><f:if condition="{section} > 0">,</f:if>"email": "{settings.schema.localbusiness.email}"<f:variable name="section" value="1" /></f:if>
						<f:if condition="{settings.schema.localbusiness.street} != '' || {settings.schema.localbusiness.city} != ''">
							<f:if condition="{section} > 0">,</f:if>"address": <f:format.raw>{</f:format.raw>
								"@type": "PostalAddress",
								"streetAddress": "{settings.schema.localbusiness.street}",
								"addressLocality": "{settings.schema.localbusiness.city}",
								"postalCode": "{settings.schema.localbusiness.zipcode}",
								"addressCountry": "{settings.schema.localbusiness.country}"
							<f:format.raw>}</f:format.raw>
							<f:variable name="section" value="1" />
						</f:if>
						<f:if condition="{settings.schema.localbusiness.latitude} != '' && {settings.schema.localbusiness.longitude} != ''">
							<f:if condition="{section} > 0">,</f:if>"geo": <f:format.raw>{</f:format.raw>
								"@type": "GeoCoordinates",
								"latitude": {settings.schema.localbusiness.latitude},
								"longitude": {settings.schema.localbusiness.longitude}
							<f:format.raw>}</f:format.raw>
							<f:variable name="section" value="1" />
						</f:if>
						<f:if condition="{settings.schema.localbusiness.monday} || {settings.schema.localbusiness.tuesday} || {settings.schema.localbusiness.wednesday} || {settings.schema.localbusiness.thursday} || {settings.schema.localbusiness.friday} || {settings.schema.localbusiness.saturday} || {settings.schema.localbusiness.sunday}">
							<f:if condition="{section} > 0">,</f:if>"openingHoursSpecification": <f:format.raw>{</f:format.raw>
								"@type": "OpeningHoursSpecification",
								"dayOfWeek": [
									<f:variable name="counter" value="0" />
									<f:if condition="{settings.schema.localbusiness.monday}"><f:if condition="{counter} > 0">,</f:if>"Monday"<f:variable name="counter" value="1" /></f:if>
									<f:if condition="{settings.schema.localbusiness.tuesday}"><f:if condition="{counter} > 0">,</f:if>"Tuesday"<f:variable name="counter" value="2" /></f:if>
									<f:if condition="{settings.schema.localbusiness.wednesday}"><f:if condition="{counter} > 0">,</f:if>"Wednesday"<f:variable name="counter" value="4" /></f:if>
									<f:if condition="{settings.schema.localbusiness.thursday}"><f:if condition="{counter} > 0">,</f:if>"Thursday"<f:variable name="counter" value="8" /></f:if>
									<f:if condition="{settings.schema.localbusiness.friday}"><f:if condition="{counter} > 0">,</f:if>"Friday"<f:variable name="counter" value="16" /></f:if>
									<f:if condition="{settings.schema.localbusiness.saturday}"><f:if condition="{counter} > 0">,</f:if>"Saturday"<f:variable name="counter" value="32" /></f:if>
									<f:if condition="{settings.schema.localbusiness.sunday}"><f:if condition="{counter} > 0">,</f:if>"Sunday"<f:variable name="counter" value="64" /></f:if>
								],
								"opens": "{settings.schema.localbusiness.openfrom}",
								"closes": "{settings.schema.localbusiness.opento}"
				  		  	<f:format.raw>}</f:format.raw>
							<f:variable name="section" value="1" />
						</f:if>
					<f:format.raw>}</f:format.raw>
				</script>
			</f:if>

			<script src="{f:uri.resource(path:'JavaScript/cookieconsent.js', extensionName: 'maagitcookie')}"></script>
				<script>
					window.CookieConsent.init(<f:format.raw>{</f:format.raw>
					// More link URL on modal window
					modalMainTextMoreLink: '',
					modalMainTargetMoreLink: '',
					// How long to wait until bar comes up
					barTimeout: 1000,
					// Look and feel
					theme: <f:format.raw>{</f:format.raw>
						barColor: '',
						barTextColor: '',
						barMainButtonColor: '',
						barMainButtonTextColor: '',
						modalMainButtonColor: '',
						modalMainButtonTextColor: '',
					<f:format.raw>}</f:format.raw>,
					// Define elements in different languages
					language: <f:format.raw>{</f:format.raw>
						// Current language
						current: 'de',
						locale: <f:format.raw>{</f:format.raw>
							de: <f:format.raw>{</f:format.raw>
								barMainText: '',
								barLinkSetting: '',
								barBtnAcceptAll: '',
								modalMainTitle: '',
								modalMainText: '',
								modalMainLink: '',
								modalBtnSave: '',
								modalBtnAcceptAll: '',
								modalAffectedSolutions: '',
								learnMore: '',
								on: '',
								off: '',
							<f:format.raw>}</f:format.raw>
						<f:format.raw>}</f:format.raw>
					<f:format.raw>}</f:format.raw>,
					// List all the categories you want to display
					categories: <f:format.raw>{</f:format.raw>
					<f:for each="{categories}" as="category">
						{category.key}:<f:format.raw>{</f:format.raw>
							needed: <f:if condition="{category.needed}">true</f:if><f:if condition="!{category.needed}">false</f:if>,
							wanted: <f:if condition="{category.wanted}">true</f:if><f:if condition="!{category.wanted}">false</f:if>,
							checked: <f:if condition="{category.checked}">true</f:if><f:if condition="!{category.checked}">false</f:if>,
							<f:format.raw>language: {locale: {de: {</f:format.raw>
							name: '{category.name}',
							description: '{category.description}'
							<f:format.raw>}}},},</f:format.raw>
					</f:for>
					<f:format.raw>},</f:format.raw>
					// List actual services here
					services: <f:format.raw>{</f:format.raw>
					<f:for each="{categories}" as="category">
						<f:for each="{category.services}" as="service">
							{service.key}:<f:format.raw>{</f:format.raw>
								category: '{service.category.key}',
								type: '',
								search: '',
								cookies: [],
								<f:format.raw>language: {locale: {de: {</f:format.raw>
								name: '{service.name}',
								<f:format.raw>}}}},</f:format.raw>
						</f:for>
					</f:for>
					<f:format.raw>}});</f:format.raw>
				</script>
									
				<script>
					window.CookieConsent.config.modalMainTextMoreLink = '{settings.consent.morelink}';
					window.CookieConsent.config.modalMainTargetMoreLink = '{settings.consent.morelinktarget}';
					window.CookieConsent.config.barTimeout = {settings.consent.timeout};
					window.CookieConsent.config.theme.barColor = '{settings.consent.barcolor}';
					window.CookieConsent.config.theme.barTextColor = '{settings.consent.bartextcolor}';
					window.CookieConsent.config.theme.barMainButtonColor = '{settings.consent.barmainbuttoncolor}';
					window.CookieConsent.config.theme.barMainButtonTextColor = '{settings.consent.barmainbuttontextcolor}';
					window.CookieConsent.config.theme.modalMainButtonColor = '{settings.consent.modalmainbuttoncolor}';
					window.CookieConsent.config.theme.modalMainButtonTextColor = '{settings.consent.modalmainbuttontextcolor}';
					window.CookieConsent.config.language.locale.de.barMainText = '<f:translate id="consent.bar.maintext" />';
					window.CookieConsent.config.language.locale.de.barLinkSetting = '<f:translate id="consent.bar.settingtext" />';
					window.CookieConsent.config.language.locale.de.barBtnAcceptAll = '<f:translate id="consent.bar.acceptalltext" />';
					window.CookieConsent.config.language.locale.de.modalMainTitle = '<f:translate id="consent.modal.title" />';
					window.CookieConsent.config.language.locale.de.modalMainText = '<f:translate id="consent.modal.maintext" />';
					window.CookieConsent.config.language.locale.de.modalMainLink = '<f:translate id="consent.modal.linktext" />';
					window.CookieConsent.config.language.locale.de.modalBtnSave = '<f:translate id="consent.modal.buttonsave" />';
					window.CookieConsent.config.language.locale.de.modalBtnAcceptAll = '<f:translate id="consent.modal.buttonacceptall" />';
					window.CookieConsent.config.language.locale.de.modalAffectedSolutions = '<f:translate id="consent.modal.affectedsolutionstext" />';
					window.CookieConsent.config.language.locale.de.learnMore = '<f:translate id="consent.learnmore" />';
					window.CookieConsent.config.language.locale.de.on = '<f:translate id="consent.on" />';
					window.CookieConsent.config.language.locale.de.off = '<f:translate id="consent.off" />';

					<f:format.raw>
					window.addEventListener('DOMContentLoaded', (event) => {
						buttons = document.getElementsByClassName('consent-give');
						for (var i=0; i<buttons.length; i++) {
							buttons[i].addEventListener('click', function() {
								location.reload();
							});
						}
						document.getElementById('ccm__footer__consent-modal-submit').addEventListener('click', function() {
							location.reload();
						});
					});
					</f:format.raw>
				</script>
		</f:section>
	</f:section>
</div>